.page1 {
    background: url(http://ps3navvpf.bkt.clouddn.com/zhangmengya/index_6.png);
    background-size: cover;
}

.page2 {
    background: url(http://ps3navvpf.bkt.clouddn.com/zhangmengya/page2_1.jpg);
    background-size: cover;
}

.page3 {
    background: url(http://ps3navvpf.bkt.clouddn.com/zhangmengya/page2_1.jpg);
    background-size: cover;
}

.page1 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.48rem;
}

.page1 img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.3rem;
}

.page1 img:nth-child(3) {
    position: absolute;
    top: 2.3rem;
    left: 0;
    width: 2.4rem;
}

.page1 img:nth-child(4) {
    position: absolute;
    top: 3.6rem;
    left: 1.6rem;
    width: 4rem;

}

.page1 img:nth-child(5) {
    position: absolute;
    top: 7rem;
    right: .4rem;
    width: 2.4rem
}

.page2 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.48rem;
}

.page2 img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.3rem;
}

.page2 img:nth-child(3) {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 2.4rem;
}

.page2 img:nth-child(4) {
    position: absolute;
    top: 4rem;
    left: 2.5rem;
    width: 2.4rem;
}

.page2 img:nth-child(5) {
    position: absolute;
    top: 4rem;
    right: .1rem;
    width: 2.4rem;
}

.page2 img:nth-child(6) {
    position: absolute;
    top: 6.5rem;
    left: .6rem;
    width: 4rem;

}

.page2 img:nth-child(7) {
    position: absolute;
    top: 7rem;
    right: 0;
    width: 2.4rem;
    
}

.page3 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.48rem;
}
.page3 img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.3rem;
}

.page3 img:nth-child(3) {
    position: absolute;
    top: 2.3rem;
    left: 0;
    width: 2.4rem;
}

.page3 img:nth-child(4) {
    position: absolute;
    top: 4rem;
    left: .7rem;
    width: 2.4rem;
}

.page3 img:nth-child(5) {
    position: absolute;
    top: 6rem;
    left: 1.6rem;
    width: 4rem;

}

.page3 img:nth-child(6) {
    position: absolute;
    top: 7rem;
    right: 0;
    width: 2.4rem
}