.page1{
    background: url(http://ps3navvpf.bkt.clouddn.com/caijinxia/tf.jpg) no-repeat;
    background-size: cover;
}
.page2{
    background: url(http://ps3navvpf.bkt.clouddn.com/caijinxia/wjk.jpg) no-repeat;
    background-size: cover;
}
.page3{
    background: url(http://ps3navvpf.bkt.clouddn.com/caijinxia/wy.jpg) no-repeat;
    background-size: cover;
}
.page4{
    background: url(http://ps3navvpf.bkt.clouddn.com/caijinxia/qx.jpg) no-repeat;
    background-size: cover;
}
.page5{
    background: url(http://ps3navvpf.bkt.clouddn.com/caijinxia/zhou.png) no-repeat;
    background-size: cover;
}
.page1 img:nth-child(1){
    position: relative;
    width: 2.2rem;
    left: 120PX;
}
.page2 img:nth-child(2){
    position: relative;
    width:7.3rem;
    top: 190px;
}
.page2 img:nth-child(1){
    position: relative;
    width: 6rem;
    left: 50PX;
    top: 50px;
}
.page3 img:nth-child(1){
    position: relative;
    width: 6rem;
    left: 50PX;
    top: 50px;
}
.page3 img:nth-child(2){
    position: relative;
    width:7.3rem;
    top: 190px;
}
.page4 img:nth-child(1){
    position: relative;
    width: 6rem;
    top:320px;
    left: 80px;
}
.page4 img:nth-child(2){
    position: relative;
    width:7.3rem;
    top: 190px;
}

.page5 img:nth-child(1){
    position: relative;
    width: 4rem;
    top: 30px;
}
.page5 img:nth-child(2){
    position: absolute;
    width: 4rem;
    top: 30px;
    right: -60px;
}
.page5 img:nth-child(3){
    position: relative;
    width: 10rem;
    left: -60px;  
}

