.page1{
    background: url(http://ps3navvpf.bkt.clouddn.com/liutianhang/beijing1.jpg) no-repeat center cadetblue;
    background-size: cover;
}
.page1 img:nth-child(1){
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 3rem;
}
.page1 img:nth-child(2){
    position: absolute;
    width: 5rem;
    height: 4rem;
    margin-top:2rem;
    margin-left: 1.2rem;
}
.page1 img:nth-child(3){
    position: absolute;
    margin-top: 5.5rem;
    margin-left: 2.3rem;
}
.page1 img:nth-child(4){
    position: absolute;
    margin-top: 6rem;
    margin-left: 3.5rem;
}
.page1 img:nth-child(5){
    position: absolute;
    margin-top: 7rem;
    margin-left: 2.6rem;
}
.page1 a{
    background: linear-gradient(rgb(134, 201, 212),pink);
    width: 5rem;
    opacity: 0.5;
    color:red;
    font-size: 0.5rem;
    text-align: center;
    margin-left: 1.3rem;
    margin-top: 12rem;  
    position: absolute;
    border-radius: 0.5rem;
}
.page1 p{
    color: gold;
    font-size: 0.2rem;
    margin-left: 2.7rem;
    margin-top: 13rem; 

}
.page2{
    background: url(http://ps3navvpf.bkt.clouddn.com/liutianhang/beijing2.jpg) no-repeat center center;
    background-size: cover;
}
.page2 img:nth-child(1){
    position: absolute;
    width: 7rem;
    margin-top: 7.6rem;
}
.page2 p{
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.page2 img:nth-of-type(2){
    position: absolute;
    width: 2rem;
    margin-left: 3rem;
}
.page2 img:nth-of-type(3){
    position: absolute;
    width: 4rem;
    margin-top: 1rem;
    margin-left: 2rem;
}
.page2 img:nth-of-type(4){
    position: absolute;
    width: 6rem;
    margin-top: 2rem;
    margin-left: 1rem;
    animation: p 2s;
}
@keyframes p{
    0%{
        margin-top: 5rem;
        margin-left: 4rem;
    }
    50%{
        margin-top: 4rem;
        margin-left: 3rem;
    }
    70%{
        margin-top: 3rem;
        margin-left: 2rem;
    }
    100%{
        margin-top: 2rem;
        margin-left: 1rem;
    }
}
.page3{
    background: url(http://ps3navvpf.bkt.clouddn.com/liutianhang/beijing3.png) no-repeat center center;
    background-size: cover;
}
.page3 img:nth-child(1){
    position: absolute;
     width: 8rem; 
}
.page3 img:nth-child(2){
    position: absolute;
    margin-top: 3rem;
    margin-left: 0.5rem;
    animation: b 3s infinite;
}
.page3 img:nth-child(3){
    position: absolute;
    margin-top: 4rem;
    margin-left: 0.5rem;
    animation: b 3s infinite;
}
.page3 img:nth-child(4){
    position: absolute;
    width: 2rem;
    margin-top: 5rem;
    margin-left: 0.5rem;
}
.page3 img:nth-child(5){
    position: absolute;
    width: 1rem;
    margin-top: 1rem;
    margin-left: 6rem;
}
.page3 img:nth-child(6){
    position: absolute;
    width: 3.5rem;
    margin-top: 3.75rem;
    margin-left: 0.5rem;
}
.page3 img:nth-child(7){
    position: absolute;
    width: 3rem;
    margin-top: 8.5rem;
    margin-left: 2.5rem;
}
.page3 img:nth-child(8){
    position: absolute;
    width: 9rem;
}
.page3 b{
    position:absolute;
    font-size: 0.4rem;
    margin-top: 1rem;
    margin-left: 6rem;
    animation: a 2s ease 1s infinite;
}
@keyframes a{
    0%{
        transform: rotateY(0deg); 
    }
    10%{
        transform: rotateY(60deg);
    }
    20%{
        transform: rotateY(120deg);
    }
    30%{
        transform: rotateY(180deg); 
    }
    40%{
        transform: rotateY(240deg);
    }
    50%{
        transform: rotateY(300deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes b{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.25);
        opacity: 0.7;
    }
    100%{
        transform: scale(0.8);
    }
}
.page4{
    background: url(http://ps3navvpf.bkt.clouddn.com/liutianhang/beijing4.gif) no-repeat center center;
    background-size: cover;
}
.page4 img:nth-child(1){
    position: absolute;
    width: 2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.page4 img:nth-child(2){
    position: absolute;
    width: 2rem;
    margin-top: 1.5rem;
    margin-left: 2.4rem;
}
.page4 img:nth-child(3){
    position: absolute;
    width: 2rem;
    margin-top: 1.5rem;
    margin-left: 4.5rem;
}
.page4 img:nth-child(4){
    position: absolute;
    width: 2rem;
    margin-top: 4.2rem;
    margin-left: 3.5rem;
}
.page4 img:nth-child(5){
    position: absolute;
    width: 3rem;
    margin-top: 5rem;
    margin-left: 1rem;
    animation: b 2s ease 1s infinite;
}
.page4 b{
    position: absolute;
    font-size: 3rem;
    margin-left: 0.7rem;
    margin-top: 9rem;
    animation: a 3s infinite;
}






