.page1 img:nth-child(1)
{
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 5rem;
    
} 
.page1 img:nth-child(2)
{
    width: 100%;
    height: 8rem;
    position: absolute;
    left: 0rem;
} 
.page2 img:nth-child(1)
{
    width: 3rem;
    height: 2rem;
    position: absolute;
    transform: rotate(30deg);
    right: 1rem;
    top: 0rem;
} 
.page2 img:nth-child(2)
{
    width: 3rem;
    height: 1rem;
    position: absolute;
    transform: rotate(30deg);
    right: 0rem;
    top: 2rem;
} 
.page2 img:nth-child(3)
{
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0rem;
    top: 3rem;
} 
.page2 img:nth-child(4)
{
    width: 3rem;
    height: 0.8rem;
    position: absolute;
    left: 0rem;
    top: 5.3rem;
} 
.page2 img:nth-child(5)
{
    width: 3.5rem;
    height: 2rem;
    position: absolute;
    right: 0rem;
    top: 5rem;
    transform: rotate(-30deg);
} 
.page2 img:nth-child(6)
{
    width: 4rem;
    height: 0.8rem;
    position: absolute;
    right: -0.2rem;
    top: 7rem;
    transform: rotate(-30deg);
} 
.page2 img:nth-child(7)
{
    width: 3.5rem;
    height: 5rem;
    position: absolute;
    top: 8rem;   
} 
.page2 img:nth-child(8)
{
    width: 3rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 11rem;
} 
.page3 img
{
    opacity: 0.5;
    width: 7.5rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.page3 p
{
    position: absolute;
    bottom:1.5rem;
    font-size: 0.3rem;
}
.page3 span
{
    position: absolute;
    bottom:0.5rem;
    right:0rem;
    font-size: 0.5rem;
}